body {
  background-color: #f1faee;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

/* fonts */

@font-face {
  font-family: A day without sun;
  src: url('./fonts/a-day-without-sun.regular.otf') format('opentype');
}

@font-face {
  font-family: Flicker;
  src: url('./fonts/flicker.regular.otf') format('opentype');
}

h1 {
  font-family: A day without sun;
  color: #31587a;
  font-size: 8em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
}

h2 {
  font-family: A day without sun;
  color: #31587a;
  font-size: 6em;
}

h3 {
  font-family: Flicker;
  color: #31587a;
}

/* end of fonts */

.mainPage,
.cvPage {
  margin: 70px;
}

/* CV page */

.cvPageHeader {
  display: flex;
  flex-direction: row;
}

.myPic {
  max-width: 25%;
  margin: 15px;
  padding: 20px;
}

.cvPage a {
  text-decoration: none;
  font-family: Flicker;
  color: #31587a;
}

/* end of CV page */

/* footer */

.footer {
  font-family: Flicker;
  background-color: #77abbd;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  font-size: larger;
  letter-spacing: 0.1em;
  margin-top: auto;
  margin-bottom: 10px;
}

.footer_item {
  width: 33%;
  text-align: center;
}

.footer_item :hover,
.footer_item :focus {
  color: #e63946;
}

.footer a {
  text-decoration: none;
  color: #f1faee;
}

/* end of footer */

/* hamburger menu */

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  font-family: Flicker;
  text-decoration: none;
  color: #f1faee;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #e63946;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #31587a;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #f1faee;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #77abbd;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
/* end of hamburger menu */
